{% extends "base.html" %}
{% block content %}
<div class="card-deck" style="padding-top: 2em; margin: 0;">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/ndcuong.jpg') }}"
                    alt="NDCuong Image">
                <div class="card-body">
                    <h4 class="card-title">Nguyen Dang Cuong</h4>
                    <h5 class="card-title"><i>Project Leader</i></h5>
                    <p class="card-text">Email: <i>cuong.nguyen1605@hcmut.edu.vn</i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/nhminh.png') }}"
                    alt="NHMinh Image">
                <div class="card-body">
                    <h4 class="card-title">Nguyen Huynh Minh</h4>
                    <h5 class="card-title"><i>Project Member</i></h5>
                    <p class="card-text">Email: <i>minh.nguyenhuynh.2257@hcmut.edu.vn</i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/nqduc.jpg') }}" alt="NQDuc Image">
                <div class="card-body">
                    <h4 class="card-title">Nguyen Quang Duc</h4>
                    <h5 class="card-title"><i>Project Member</i></h5>
                    <p class="card-text">“Researching is not my passion, it is my life”</p>
                    <p class="card-text">Email: <i>duc.nguyenquang@hcmut.edu.vn</i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/nqduc_hust.png') }}"
                    alt="NQDuc_HUST Image">
                <div class="card-body">
                    <h4 class="card-title">Nguyen Quang Duc</h4>
                    <h5 class="card-title"><i>Project Member</i></h5>
                    <p class="card-text">Email: <i>duc.nq204876@sis.hust.edu.vn</i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/drkhuong.jpg') }}"
                    alt="Dr. Khuong Image">
                <div class="card-body">
                    <h4 class="card-title"><b>Dr.</b> Nguyen An Khuong</h4>
                    <h5 class="card-title"><i>Advisor</i></h5>
                    <p class="card-text">Email: <i>nakhuong@hcmut.edu.vn</i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/drthinh.jpg') }}"
                    alt="PhD. Thinh Image">
                <div class="card-body">
                    <h4 class="card-title"><b>Dr.</b> Nguyen Tien Thinh</h4>
                    <h5 class="card-title"><i>Advisor</i></h5>
                    <p class="card-text">Email: <i>ntthinh@hcmut.edu.vn</i></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/drchon.png') }}"
                    alt="PhD. Thinh Image">
                <div class="card-body">
                    <h4 class="card-title"><b>Assoc prof. Dr.</b> Le Trung Chon</h4>
                    <h5 class="card-title"><i>Advisor</i></h5>
                    <p class="card-text">Email: <i>ltchon@hcmut.edu.vn</i></p>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='images/drtho.jpg') }}"
                    alt="Dr. Tho Image">
                <div class="card-body">
                    <h4 class="card-title"><b>Assoc prof. Dr.</b> Quan Thanh Tho</h4>
                    <h5 class="card-title"><i>Advisor</i></h5>
                    <p class="card-text">Email: <i>qttho@hcmut.edu.vn</i></p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}